name: Auto Label Patch to PR

on:
  pull_request_target:
    types: opened
    branches: main

  workflow_dispatch:

jobs:
  set-label:
    runs-on: self-hosted
    name: Check and set label
    if: |
      !contains(github.event.pull_request.labels.*.name, 'patch') &&
      !contains(github.event.pull_request.labels.*.name, 'minor') &&
      !contains(github.event.pull_request.labels.*.name, 'major')
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
